
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "40c0f6ef93848779460b4d4fe92c929c6f3ff5fd"}
         bithandshake/cljs-window  {:git/url "https://github.com/bithandshake/cljs-window"
                                    :sha     "cfac8871b8e20f0f9810524a5d8ed4eeb968b8c3"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
