
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "85fd9f2270aa1c0936a6657c6bdc71f860965c5f"}
         bithandshake/cljs-window {:git/url "https://github.com/bithandshake/cljs-window"
                                   :sha     "7bab77c954007250654fa816e2f2641df530bc96"}}}
