
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "8cee6262833c1ed71242c4971f52a41e7b6cd547"}
         bithandshake/cljs-window  {:git/url "https://github.com/bithandshake/cljs-window"
                                    :sha     "cc8e1dd28e8c2c28f34a0d26f985101e3d84c3e5"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
